#blogContent{
    padding-bottom: 100px;
    
    .blogLeftSectionItem{
        margin-bottom: 40px;
        box-shadow: 0px 5px 30px 0px #11161E14;

        .blogContentImg{
            
        }

        .blogContentInfo{
            width: 100%;
            padding: 40px 40px 30px 40px;
            .adminDate{
                a{
                    font-size: 16px;
                    line-height: 26px;
                    color: $paragraphColor;
                    padding: 0 20px;
                    transition: 0.5s;
                    &:first-child{
                        border-right: 1px solid #BDBDBD;
                    }
                    &:hover{
                        color: $primaryColor1;
                    }
                }
            }

            .blogContentInfoTitle{
                a{
                    display: inline-block;
                    font-size: 30px;
                    line-height: 40px;
                    color: $blackColor;
                    padding: 6px 0 16px;
                    font-weight: 700;
                    transition: 0.5s;
                    &:hover{
                        color: $primaryColor1;
                    }
                }
            }

            .blogContentDes{
                p{
                    font-size: 16px;
                    line-height: 28px;
                    font-family: $secondaryFont;
                    color: $paragraphColor;
                    text-align: justify;
                }
            }

            .blogContentBtn{
                margin-top: 16px;
                a{
                    font-size: 16px;
                    line-height: 28px;
                    color: $paragraphColor;
                    transition: 0.5s;
                    padding: 5px 0;
                    font-family: $secondaryFont;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 2px;
                        transform: scaleX(0);
                        transform-origin: left;
                        background: $primaryColor1;
                        transition: 0.5s;
                    }
                    &:hover{
                        color: $primaryColor1;
                        &::after{
                            transform: scaleX(1);
                        }
                    }
                }
            }

        }

    }

    .showingPaginationBtn{
        .showing{
            position: relative;
            h6{
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: $paragraphColor;
                font-family: $secondaryFont;
                padding-bottom: 10px;
                
            }
            .showingButtomLine{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #F1F1F1;
                .showingUpDownLine{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                }
            }
        }

        .showingPaginationBtn{
            a{
                padding: 3px 14px;
                font-size: 18px;
                line-height: 30px;
                color: $paragraphColor;
                display: inline-block;
                border: 1px solid $paragraphColor;
                background: transparent;
                font-weight: 600;
                font-family: $secondaryFont;
                transition: 0.5s;
                &.active{
                    background: #000;
                    color: $commonColor;
                }
                &:hover{
                    background: #000;
                    color: $commonColor;
                }
            }
        }
    }

    .blogRightContent{
        .searchFiled{
            form{
                position: relative;
                input{
                    font-size: 16px;
                    line-height: 28px;
                    padding: 16px;
                    font-family: $secondaryFont;
                    color: #828282;
                    background: #F1F3F4;
                    border: none;
                    width: 100%;
                    .search{
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                .searchIcon{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 16px 16px;
                    font-size: 16px;
                    line-height: 28px;
                    a{
                        color: #828282;
                    }
                }
                
            }
        }

        .blogCatagory{
            margin-top: 50px;
            .rowTitle{
                margin-top: 50px;
                margin-bottom: 30px;
                h5{
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    position: relative;
                    display: inline-block;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        background: $primaryColor1;
                    }
                }
            }

            .catagoryContent{
                ul{
                    li{
                        padding: 10px 0;
                        border-bottom: 1px solid #F1F3F4;
                        position: relative;
                        a{
                            font-size: 16px;
                            line-height: 26px;
                            color: $paragraphColor;
                            transition: 0.5s;
                            display: inline-block;
                            width: 100%;
                            position: relative;
                            &:hover{
                                color: $primaryColor1;
                                span{
                                    color: $primaryColor1;
                                }
                            }
                            span{
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                                font-size: 16px;
                                line-height: 26px;
                                color: $paragraphColor;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }

        }
    }
}

