/* Footer Section Start */
#commonFooter{
    padding-top: 100px;
    position: relative;
    z-index: 1000;
    background: #F1F3F4;
    .footerTop{
        padding: 0 0 70px;
        border-bottom: 1px solid #E0E0E0;
        .footerTopItem{
            .fooTopContent{
                h3{
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 46px;
                    color: $textColor;
                    margin-bottom: 6px;
                }
                p{
                    font-family: $secondaryFont;
                    font-size: 16px;
                    line-height: 28px;
                    color: $paragraphColor;
                }
            }

            .footBoInput{
                width: 604px;
                height: 60px;
                position: relative;
                input{
                    width: 100%;
                    height: 100%;
                    padding: 16px 20px;
                    font-family: $secondaryFont;
                    background: $commonColor;
                    border: none;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #8F8F8F;
                    &[type=text]{
                        border: 0;
                        border: 1px solid #ccc;
                        height: 40px;
                        padding-left: 10px;
                        outline: 0;
                    }
                }
                .footSubBtn{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 180px;
                    background: $primaryColor1;
                    border: none;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 30px;
                    color: $commonColor;
                }
            }

            &:last-child{
                text-align: right;
            }
        }
    }

    .footerBottom{
        padding: 70px 0 0;
        color: $blackColor;

        .footerBottomItem{
            .fooBottomItem1{
                p{
                    font-family: $secondaryFont;
                    font-size: 16px;
                    line-height: 28px;
                    color: $paragraphColor;
                    margin: 20px 0 25px;
                }
                .fooBottomSocial{
                    li{
                        margin-right: 26px;
                        font-size: 16px;
                        color: $paragraphColor;
                        a{
                            color: $paragraphColor;
                            transition: 0.5s;
                            &:hover{
                                color: $PrimayColor2;
                            }
                        }
                    }
                }
            }

            .fotBoTitle{
                padding-bottom: 38px;
                h4{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 34px;
                }
            }

            .foBoInfo{
                margin-bottom: 5px;
                color: $paragraphColor;

                .foBoInfoList{
                    li{
                        font-family: $secondaryFont;
                        margin-bottom: 4px;
                        a{
                            font-size: 16px;
                            font-weight: 28px;
                            font-family: $secondaryFont;
                            color: $paragraphColor;
                            transition: 0.5s;
                        }
                        &:hover{
                            a{
                                color: $primaryColor1;
                            }
                        }
                    }
                }
            }

            .foBoInfo4{
                a{
                    color: $primaryColor1;
                    font-size: 16px;
                    margin-right: 10px;
                    display: inline-block;
                }
                p{
                    font-size: 16px;
                    line-height: 28px;
                    font-family: $secondaryFont;
                }
                i{
                    font-size: 16px;
                    line-height: 28px;
                }

                .foPhone{
                    color: $paragraphColor;
                }

                .foemail{
                    display: block;
                    color: $paragraphColor;
                }
            }

            .foBoInfo5{
                p{
                    font-size: 16px;
                    font-family: $secondaryFont;
                    line-height: 28px;
                    margin-bottom: 23px;
                }
            }
        }
    }

    .footerCopyright{
        background: rgba(255, 255, 255, 0.1);
        padding: 21px 0;
        text-align: center;
        margin-top: 70px;
        color: $paragraphColor;
        font-size: 16px;
        font-weight: 400;
        font-family: $secondaryFont;
        border-top: 1px solid #151a322d;
        .copyrightText{
            a{
                color: $PrimayColor2;
            }
        }
    }

}
