/* Preloader Section Start */
#preloader{
    position: fixed;
    inset: 0;
    background-color: $commonColor;
    z-index: 1000000;
    .mainPreloader{
        .load{
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 3px solid rgba(54, 54, 54, 0.08);
            /* animation: loadWeb 2s infinite linear; */
            &::after{
                content: '';
                position: absolute;
                top: -3px;
                right: -3px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 3px solid transparent;
                border-top-color: $PrimayColor2;
                animation: loadWeb 2s infinite linear;
            }
            @keyframes loadWeb {
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(359deg);
                }
            }

            .loadCircle1{
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid rgba(54, 54, 54, 0.08);
                animation: loadCircle1ani 2s infinite linear;
                &::after{
                    content: '';
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    border-right-color: $PrimayColor2;
                    animation: loadWeb 2s infinite linear;
                }
                @keyframes loadCircle1ani {
                    0% {
                     transform:rotateX(0deg)
                    }
                    100% {
                     transform:rotateX(360deg)
                    }
                   }
            }

            .loadCircle2{
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid rgba(54, 54, 54, 0.08);
                &::after{
                    content: '';
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    border-left-color: $PrimayColor2;
                    animation: loadWeb 2s infinite linear;
                }
            }
        }
    }
}
